In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [3]:
np.random.seed(42)

In [4]:
dates = pd.date_range('2024-01-01', periods=100)

In [5]:
df = pd.DataFrame({
    'date': dates,
    'product': np.random.choice(['A', 'B', 'C', 'D', 'E'], 100),
    'region': np.random.choice(['North', 'South', 'East', 'West'], 100),
    'sales': np.random.randint(100, 1000, 100),
    'costs': np.random.randint(50, 500, 100),
    'quantity': np.random.randint(1, 50, 100),
})
df

         date product region  sales  costs  quantity
0  2024-01-01       D   West    510    161        24
1  2024-01-02       E   East    748    109        29
2  2024-01-03       C  North    417    418        49
3  2024-01-04       E   West    776     51        46
4  2024-01-05       E   West    324    434        31
..        ...     ...    ...    ...    ...       ...
95 2024-04-05       C  North    710     55        23
96 2024-04-06       E   East    362    148         9
97 2024-04-07       B   East    863    429        12
98 2024-04-08       B  South    243    282         1
99 2024-04-09       A   West    445     86         1

[100 rows x 6 columns]

In [6]:
df.loc[np.random.choice(df.index,10),'sales']=np.nan
df

         date product region  sales  costs  quantity
0  2024-01-01       D   West    NaN    161        24
1  2024-01-02       E   East  748.0    109        29
2  2024-01-03       C  North  417.0    418        49
3  2024-01-04       E   West  776.0     51        46
4  2024-01-05       E   West  324.0    434        31
..        ...     ...    ...    ...    ...       ...
95 2024-04-05       C  North    NaN     55        23
96 2024-04-06       E   East  362.0    148         9
97 2024-04-07       B   East  863.0    429        12
98 2024-04-08       B  South  243.0    282         1
99 2024-04-09       A   West  445.0     86         1

[100 rows x 6 columns]

In [8]:
df = pd.concat([df, df.sample(5)], ignore_index=True)
df

          date product region  sales  costs  quantity
0   2024-01-01       D   West    NaN    161        24
1   2024-01-02       E   East  748.0    109        29
2   2024-01-03       C  North  417.0    418        49
3   2024-01-04       E   West  776.0     51        46
4   2024-01-05       E   West  324.0    434        31
..         ...     ...    ...    ...    ...       ...
105 2024-01-21       B   East  663.0    169        32
106 2024-02-23       E  North  283.0    433        23
107 2024-02-13       B   East  152.0    257         7
108 2024-01-14       B   East  571.0    196        25
109 2024-02-25       A   East  500.0    184        28

[110 rows x 6 columns]

In [9]:
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
s=pd.Series([1,2,3],index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [11]:
s=pd.Series({'x':10,'y':20,'z':30})
s

x    10
y    20
z    30
dtype: int64

In [14]:
s.values

array([10, 20, 30])

In [15]:
s.index

Index(['x', 'y', 'z'], dtype='object')

In [16]:
s.dtype

dtype('int64')

In [19]:
s['x']

np.int64(10)

In [20]:
s.iloc[0]

np.int64(10)

In [21]:
s*2
s

x    10
y    20
z    30
dtype: int64

In [22]:
s[s>2]
s

x    10
y    20
z    30
dtype: int64

In [23]:
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6